* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #c9c9c9;
}

.tabs {
  height: 66px;
  width: 348px;
}

.tab-h {
  height: 60px;
  width: 90px;
  border: 1px solid black;
  float: left;
  margin: 0 10px;
  background: #ffffff;
}

.tabs-body {
  width:604px;
  height: 404px;
  position: relative;
  top: 60px;
}

.tab-b {
  width:600px;
  height: 400px;
  background: #ffffff;
  position: absolute;
  left:0;
  top: 0;
  border: 1px solid black;
}
